<!DOCTYPE html>
<html lang="en" class="h-full" data-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Z.Blazor.Diagrams/style.min.css" />
    <link rel="stylesheet" href="_content/Z.Blazor.Diagrams/default.styles.min.css"  />
    <link rel="stylesheet" href="_content/Blazor.ContextMenu/blazorContextMenu.min.css" />
    <link rel="stylesheet" href="Blazor.Diagram.Demo.styles.css" />
    <link rel="stylesheet" href="app.css" />
    <HeadOutlet />
</head>

<body class="h-full overflow-hidden">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Z.Blazor.Diagrams/script.min.js"></script>
    <script src="_content/Blazor.ContextMenu/blazorContextMenu.min.js"></script>
</body>

</html>
